body {
  margin: 0 25px;
}

nav {
  background-color: chocolate;
}

nav h1 {
  color: #018ca5;
  font-size: 6vw;
  font-weight: bold;
}

nav a {
  color: #018ca5;
  text-decoration: none;
  font-size: 1.5vw;
  margin-right: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #018ca5;
}

.flex-item {
  border: 3px solid red;
}

aside img {
  max-width: 100%;
}
